<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head :: fragment">
</head>

<body>

<div th:fragment="fragment" class="container" style="display:inline">

    <nav class="navbar navbar-expand-md navbar-dark bg-white fixed-top">

        <img th:src="@{/images/logo_sm.png}" src="/small_icon.png"/>

        <a class="navbar-brand" href="#">Bibliothèque</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active" th:class="${#httpServletRequest.getServletPath()}=='/'? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/}" href="#">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" th:class="${#httpServletRequest.getServletPath()}=='/sites'? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/sites}" href="#">Les sites</a>
                </li>
                <li class="nav-item active" th:class="${#httpServletRequest.getServletPath()}=='/topos'? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/topos}" href="#">Les Topos</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item active" th:class="${#httpServletRequest.getServletPath()}=='/pret'? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/pret}" href="#">Partage de topo</a>
                </li>

                <li class="nav-item" th:class="${#httpServletRequest.getServletPath()}=='/login'? 'nav-item active' : 'nav-item'" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Se connecter</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" th:href="@{/logout}">Déconnexion</a>
                        <a class="dropdown-item" href="#">Mon profil</a>
                    </div>
                </li>

                <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<!--<h1 th:text="${#httpServletRequest.contextPath}">Coucou!!</h1>-->

</body>
</html>